* {
  /* border: solid 1px red; */
}

:root{
  --boxsize: 38px;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.startScreen {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.startScreen > h1 {
  margin: 0;
}

.startScreen > div {
  display: flex;
  gap: 50px;
}

.nameInput {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.errorText {
  color: red;
  display: none;
  position: fixed;
  top: 54.5%;
}

.cpuDifficulty {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-items: center;
}

.gameArea {
  display: flex;
  gap: 80px;
}

h2 {
  text-align: center;
  margin: 0;
}

.playerBoard,
.enemyBoard {
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  border: solid 1px red;
}

.playerBoard > div,
.enemyBoard > div {
  border: solid 1px red;
}

.playerSide {
  display: flex;
  gap: 40px;
}

.battleships{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 20px;
  margin-top: 60px;
}

.buttons {
  margin-top: auto;
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.buttons > button {
  height: 30px;
}

.carrier {
  display: grid;
  grid-template-columns: repeat(5, var(--boxsize));
  border: solid 1px red;
  height: var(--boxsize);
}

.battleship {
  display: grid;
  grid-template-columns: repeat(4, var(--boxsize));
  border: solid 1px red;
  height: var(--boxsize);
}

.destroyer, 
.submarine {
  display: grid;
  grid-template-columns: repeat(3, var(--boxsize));
  border: solid 1px red;
  height: var(--boxsize);
}

.patrolboat {
  display: grid;
  grid-template-columns: repeat(2, var(--boxsize));
  border: solid 1px red;
  height: var(--boxsize);
}

.enemyBoard {
  transition: 2ms linear;
}

.ship {
  background-color: black;
}

.miss {
  background-color: rgb(255, 0, 0);
}

.hit {
  background-color: rgb(145, 1, 1);
}
