* {
  /* border: solid 1px red; */
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.startScreen {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.startScreen > h1 {
  margin: 0;
}

.startScreen > div {
  display: flex;
  gap: 50px;
}

.nameInput {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.errorText {
  color: red;
  margin-top: -10px;
  display: none;
}

.cpuDifficulty {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-items: center;
}

.gameArea {
  display: flex;
  gap: 80px;
}

.gameArea > div > h2 {
  text-align: center;
  margin: 0;
}

.playerBoard,
.enemyBoard {
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  border: solid 1px red;
}

.playerBoard > div,
.enemyBoard > div {
  border: solid 1px red;
}

.enemyBoard {
  transition: 2ms linear;
}

.ship {
  background-color: black;
}

.miss {
  background-color: rgb(255, 0, 0);
}

.hit {
  background-color: rgb(145, 1, 1);
}
