@font-face {
  font-family: "Army Buster";
  src: url(./Army\ Buster.otf);
}

ubuntu-sans- {
  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

:root {
  --boxsize: 40px;
  --left-coord: clamp(59.5%, 67.5%);
  --carrier-coord: 32%;
  --battleship-coord: 38%;
  --destroyer-coord: 44%;
  --submarine-coord: 50%;
  --patrolboat-coord: 56%;
  --background-color: black;
  --accent-color: #8bf688;
  --ship-color: rgba(107, 196, 104, 0.767);
  --radar-color: #09562e;
}

body {
  background-image: radial-gradient(var(--background-color), #010f08);
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-family: "Army Buster", sans-serif;
  font-weight: 100;
  overflow: hidden;
}

.startScreen {
  background-image: radial-gradient(var(--background-color), #010f08);
  color: var(--accent-color);
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  opacity: 1;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  z-index: 10;
  transition: opacity 1s, display 1s allow-discrete;
}

.startScreen > h1 {
  margin: 0;
  font-size: 6em;
  font-weight: 100;
}

.startScreen > div {
  display: flex;
  gap: 50px;
}

.nameInput {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.nameInput > input {
  color: #8bf688;
  height: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--accent-color);
  font-family: "Ubuntu Sans", sans-serif;
  font-size: 1em;
}

.nameInput > input:hover {
  outline: 2px solid #8bf688;
}

.nameInput > input:focus {
  outline: 2px solid #8bf688;
}

.radio {
  display: inline-flex;
  width: 80px;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  padding: 5px;
}

.radioInput {
  display: none;
}

.radioButton {
  width: 0.9em;
  height: 0.9em;
  background-color: var(--background-color);
  border: solid 1px var(--accent-color);
  padding: 3px;
}

.radioButton::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--accent-color);
  opacity: 0;
}

.radioInput:checked + .radioButton::after {
  opacity: 1;
}

.errorText {
  font-family: "Ubuntu Sans", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  color: red;
  display: none;
  position: fixed;
  top: 58.7%;
}

.cpuDifficulty {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-items: center;
}

label {
  font-family: "Ubuntu Sans", sans-serif;
  font-size: 1em;
  font-weight: 300;
}

.subHeader {
  font-size: 1.3em;
  font-weight: 600;
  padding: 10px;
}

.gameArea {
  display: flex;
  gap: 80px;
}

h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  font-size: 2.5em;
  font-weight: 100;
  color: var(--accent-color);
}

.playerBoard,
.enemyBoard {
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  gap: 1px;
  background-image: radial-gradient(
    var(--radar-color),
    var(--background-color)
  );
}

.playerBoard > div,
.enemyBoard > div {
  border: solid 1px var(--accent-color);
}

.enemyName {
  transition: opacity 0.5s, display 0.5s allow-discrete;
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.enemyBoard {
  transition: opacity 0.5s, display 0.5s allow-discrete;
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.playerSide {
  display: flex;
  gap: 40px;
  transition: opacity 0.5s, display 0.5s allow-discrete;
}

.battleships {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 20px;
  margin-top: 60px;
}

.buttons {
  margin-top: auto;
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.buttons > button {
  height: 30px;
}

.carrier {
  background-color: var(--ship-color);
  border: 1px solid var(--accent-color);
  display: none;
  grid-template-columns: repeat(5, var(--boxsize));
  height: var(--boxsize);
  position: fixed;
  top: var(--carrier-coord);
  left: var(--left-coord);
}

.battleship {
  background-color: var(--ship-color);
  border: 1px solid var(--accent-color);
  display: none;
  grid-template-columns: repeat(4, var(--boxsize));
  height: var(--boxsize);
  position: absolute;
  top: var(--battleship-coord);
  left: var(--left-coord);
}

.destroyer {
  background-color: var(--ship-color);
  border: 1px solid var(--accent-color);
  display: none;
  grid-template-columns: repeat(3, var(--boxsize));
  height: var(--boxsize);
  position: absolute;
  top: var(--destroyer-coord);
  left: var(--left-coord);
}

.submarine {
  background-color: var(--ship-color);
  border: 1px solid var(--accent-color);
  display: none;
  grid-template-columns: repeat(3, var(--boxsize));
  height: var(--boxsize);
  position: absolute;
  top: var(--submarine-coord);
  left: var(--left-coord);
}

.patrolboat {
  background-color: var(--ship-color);
  border: 1px solid var(--accent-color);
  display: none;
  grid-template-columns: repeat(2, var(--boxsize));
  height: var(--boxsize);
  position: absolute;
  top: var(--patrolboat-coord);
  left: var(--left-coord);
}

.ship {
  background-color: var(--ship-color);
  transition: all 0.25s linear;
}

.hit::before {
  background-image: url(./fire.svg);
  content: "";
  width: 33px;
  height: 33px;
  background-size: 100%;
  display: inline-block;
  animation-name: bomb;
  animation-duration: 2s;
  translate: 2px 2px;
}

.miss::before {
  background-image: url(./miss.png);
  content: "";
  width: 33px;
  height: 33px;
  background-size: 100%;
  display: inline-block;
  animation-name: bomb;
  animation-duration: 2s;
  translate: 2px 2px;
}

.hit {
  transition: all 0.5s linear;
  background-color: var(--ship-color);
}

@keyframes bomb {
  0% {
    background-image: url("./bomb.svg");
    transform: translateY(-100px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    background-image: url("./bomb.svg");
    opacity: 1;
  }
}

.playerHitMessage,
.enemyHitMessage {
  color: var(--background-color);
  top: 0;
  position: fixed;
  opacity: 0;
  display: none;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
  -webkit-animation: scale-up-right 1.5s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-right 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-right {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
}
@keyframes scale-up-right {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
}

.resultScreen {
  color: var(--accent-color);
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.resultScreen > h1 {
  font-size: 6em;
  font-weight: 100;
  margin: 5px;
}

button {
  background-color: var(--accent-color);
  border: none;
  outline: none;
  color: black;
  font-family: "Ubuntu Sans", sans-serif;
  font-weight: 700;
  width: 110px;
  height: 40px;
}

button:hover {
  background-color: transparent;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}